/* Fonte */
html, body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  /*
  height: 100%;
  min-height: 100vh;
  margin-top: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;*/
}


/* Removendo scrollbar */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove scrollbar height */
  background: transparent; /* Optional: Make scrollbar track transparent */
}

/* For Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
}

/* For Internet Explorer and Edge (older versions) */
body {
  -ms-overflow-style: none; /* Hide scrollbar */
}

/* Arrumando espaçamentos */
.container-fluid{
  padding: 0px !important;
  /*background-color: #0762AE; /* Usando transparent para atribuir a cor no react
  background-image: linear-gradient(#016AA6       , #009FAA);*/
}

/* Gradiente de background */
.pageLayout{
}
/* Tamanho da página */
/* Ajustando espaçamentos */
.row{
    margin: 0px;
}
/* Imagem da capa */
.home-capa{
    background-color: #0762AE; /* Para browser q não suportem gradiente */
    background-image: linear-gradient(#0059A6, #00A0AB);
}
.home-capa-img{
    width: 70%;
    display: flex;
    position: relative;
    left: 15%;
}
/* Sobre */
.home-sobre-div{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
.home-sobre-titulo{
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 20px;
    font-weight: 800;
    color: #015AA6;
    text-align: center;
}
.home-sobre-projeto{
    font-size: 16px;
    font-weight: 700;
    color: #015AA6;
}
/* Espaçamento Geral */
.body{
    height: 100vh;
    width: 100vw;
    padding-left: 0%;
    padding-right: 0%;
}
/*
.shiny-input-container{
    padding-left: 1.5rem !important;
}*/
/* Home */
.home{
    padding-left: 0;
}

@media (min-width: 1800px){
    .home-capa-img{
        width: 60%;
        display: flex;
        position: relative;
        left: 20%;
    }
}

@media (min-width: 2300px){
    .home-capa-img{
    }
}


